<!-- postContent.ejs -->
<p><%= post.content %></p>
<p class="bg-light d-inline p-1 my-1"><em><%= post.author %>&nbsp;<%= post.date %>&nbsp;<%= post.time %></em></p><br>
<p class="bg-light d-inline p-1"><em>email: <%= post.email %></em></p>
<!-- Add more content fields as needed -->
