<%- include("partials/header.ejs") %>
<%- include("partials/navi.ejs") %>

<div class="container max-height">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 pe-5 d-none d-md-flex justify-content-center">
      <img class="img-fluid rounded-circle" src="/images/logo3.png" alt="logo image" />
    </div>
    <div class="p-3 col-12 col-md-6">
      <div class="mb-3">
        <p class="display-6 lead text-center text-md-start">Browse blog posts</p>
        <ul>
          <% postsList.forEach(post => { %>
            <li class="btn d-flex" data-bs-toggle="modal" data-bs-target="#postModal<%= post.id %>" data-post-id="<%= post.id %>">
              <strong><%= post.title %></strong>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% postsList.forEach(post => { %>
  <div class="modal" id="postModal<%= post.id %>" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h1 class="modal-title fs-3" id="postModalLabel"><strong><%= post.title %></strong></h1>
          <span class="border border-info rounded-circle p-1">views:&nbsp;<%= post.views %></span><br>
          <p class="bg-light p-1"><%= post.date %>&nbsp;&nbsp;<%= post.time %></p>
        </div>
        <div class="modal-body">
          <!-- Load post content dynamically here -->
          <p class="display-10 lead"><%= post.content %></p>
          <p class="py-0 my-0 text-end">
          <%= post.author %><br>
          <% if (post.email != 'none') { %>
          <%= post.email %>
          <% } %>
          </p>
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn btn-outline-danger" id="deleteButton" onclick="deletePost(<%= post.id %>)" data-bs-dismiss="modal">Delete</button>
          <% if (post.editable != 'off') { %>
          <button type="button" class="btn btn-outline-info btn-edit">Edit</button>
          <% } %>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> 
<% }) %>

<%- include("partials/footer.ejs") %>
